@model ISProject.Models.ViewModels.ProductSellerViewModel
@using ISProject.Extensions
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class ="row">
    <div class = "col-6">
        <h2 class= "text-info">Create Product for Sale</h2>
    </div>
    <div class = "col-6 text-right">
        <a asp-area="Customer" asp-controller="Seller" asp-action="CreateProduct" class="btn btn-info"> New Product </a>
    </div>
</div>

<div>
    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            @Html.HiddenFor(x => x.ProductSale.Seller)
            @Html.HiddenFor(x => x.ProductSale.SellerId)
            <div class="col-3">
                <label asp-for="ProductSale.ProductId" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select id="ddlProductlist" asp-for="ProductSale.ProductId" asp-items="Model.Products.ToSelectListItem(Model.ProductSale.ProductId)" class="form-control"></select>
            </div>
        </div>
        @if(@Model.ErrorMessage != ""){
            <div class="row col-5 offset-3">
                <h6 style="color: red">@Model.ErrorMessage</h6>
            </div>
        }
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="ProductSale.Price" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="ProductSale.Price" class="form-control" id="priceInput" />
            </div>
            <span asp-validation-for="ProductSale.Price" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="ProductSale.Units" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="ProductSale.Units" class="form-control" id="unitsInput" />
            </div>
            <span asp-validation-for="ProductSale.Units" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="ProductSale.Image" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input type="file" name="files" multiple class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-5 offset-3">
                <div class="row">
                    <div class="col-6">
                        <button type="submit" value="Create" class="btn btn-info form-control">Create</button>
                    </div>
                    <div class="col-6">
                        <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
