@model IEnumerable<Notification>

@if(Model.Count() > 0){
    <div>
        <a href="#"><i class="fas fa-bell"></i></a>
        
    </div>
}
else{
    <div>
        <i class="fas fa-bell"></i>
    </div>
  
}