@model ISProject.Models.ShoppingCart

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Item Details</h2>
<br />

<form method="post">
    <div class="border row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProductSale.Product.Name" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ProductSale.Product.Name" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProductSale.Product.Description" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    @Html.Raw(Model.ProductSale.Product.Description)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProductSale.Price" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ProductSale.Price" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Count" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Count" class="form-control" />
                    <span asp-validation-for="Count" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                </div>
                <div class="col-4">
                    <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                </div>
                <div class="col-4">
                    <button type="submit" value="Add to Cart" class="btn btn-primary form-control">Add to Cart</button>
                </div>
            </div>
        </div>

    </div>
    <input asp-for="ProductSale.Product.Id" hidden />
</form>


@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}